<div class="bg-gray-2 lg:px-20 md:px-10 px-5 py-5">
  <h3 class="font-semibold text-xl text-primary-blue mb-5">
    Products <span class="font-normal text-sm text-text-labels ml-1">{{ filteredProducts.length }} items</span>
  </h3>
  <app-filter />
  @if (isLoading) {
    <div class="w-full h-60 flex justify-center items-center">
      <span class="text-lg text-black-1">Loading...</span>
    </div>
  } @else if (filteredProducts.length) {
    <div class="grid lg:grid-cols-5 sm:grid-cols-3 grid-cols-2 lg:gap-8 gap-4">
      @for (item of filteredProducts; track $index) {
        <app-product-card [product]="item"></app-product-card>
      }
    </div>
  } @else {
    @if (productsService.selectedCategory()) {
      <app-placeholder text="No matches found! Reset your filters to discover more amazing products.">
        <button mat-button (click)="resetFilter()">Reset</button>
      </app-placeholder>
    } @else {
      <app-placeholder text="No products found" />
    }
  }
</div>
